header{
    display: grid;
    grid-template-columns: 5fr 1fr;
    text-align: center;
    background-color:  #6788ff;
    color: #fff;
    padding: 5px 0;
}
button{
    display: block;
    width: 100px;
    height: 50px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #fff;
}