<div class="tui-container">
  <div class="content" *ngIf="restaurant$ | async as rest">
    <div class="title-block">
      <div class="back-and-title">
        <tui-svg
          src="tuiIconBackCircleLarge"
          class="back"
          routerLink="/restaurants"
        ></tui-svg>
        <h2 class="title-rest">{{ rest.name }}</h2>
      </div>
      <div class="icons-faq">
        <tui-svg
          class="icon-faq"
          src="tuiIconEdit"
          [routerLink]="['/restaurants/edit/' + rest.id]"
        ></tui-svg>

        <tui-svg
          class="icon-faq"
          src="tuiIconTrash"
          (click)="deleteRest(rest.id)"
        ></tui-svg>
      </div>
    </div>
    <div class="info">
      <div class="address">
        <span class="label">Адрес: </span>
        <span class=""> {{ rest.address }}</span>
      </div>
      <div class="average">
        <span class="label">Средний чек: </span>
        <span class=""> {{  rest.average !=  0 ?   rest.average+'₽' : 'не оценено' }}</span>
      </div>
    </div>
    <div class="map">
      <!-- <agm-map  
        style="height: 150px"
        [latitude]="rest.lat"
        [longitude]="rest.lng"
      >
        <agm-marker-cluster>
          <agm-marker
            [latitude]="rest.lat"
            [longitude]="rest.lng"
          ></agm-marker> </agm-marker-cluster
      ></agm-map> -->
    </div>

    <div class="rating-block">
      <span class="label">Рейтинг: </span>
      <span class=""> {{ rest.rating !=  0 ?   rest.rating.toFixed(1) : 'не оценено'}}</span>

      <div class="rating">
        <div class="star-after">
          <tui-svg
            *ngFor="let rait of [].constructor(5)"
            class="star"
            src="tuiIconStar"
          ></tui-svg>
        </div>
        <div class="stars">
          <div>
            <tui-svg
              *ngFor="
                let rait of [].constructor(
                  rest.rating == 5
                    ? 5
                    : rest.rating > 4
                    ? 4
                    : rest.rating > 3
                    ? 3
                    : rest.rating > 2
                    ? 2
                    : rest.rating > 1
                    ? 1
                    : 0
                )
              "
              class="star"
              src="tuiIconStarFilled"
            ></tui-svg>
          </div>
          <div
            class="box"
            [style.width]="(rest.rating - +rest.rating.toFixed()) * 22 + 'px'"
          >
            <tui-svg class="star star1" src="tuiIconStarFilled"></tui-svg>
          </div>
        </div>
      </div>
    </div>


    <!-- ОТЗЫВЫ  -->

    <div class="reviews" *ngIf="reviews$ | async as reviews">
      <h3 class="reviews__title">Отзывы</h3>
      <div class="review" *ngFor="let review of reviews">
        <div class="pic">
          <tui-avatar
            *ngIf="review.userpic"
            class="icon-user-avatar"
            [rounded]="true"
            text="avatar"
            size="m"
            [avatarUrl]="review.userpic || 'tuiIconUser'"
          ></tui-avatar>
          <tui-avatar
            *ngIf="review.userpic == null"
            class="icon-user-avatar"
            [rounded]="true"
            text="avatar"
            size="m"
            avatarUrl="tuiIconUser"
          ></tui-avatar>
        </div>
        <div class="review__content">
          <h4>{{ review.username }}</h4>
          <span>чек: {{review.average}}₽  </span>
          <div class="rating">
            <div class="star-after">
              <tui-svg
                *ngFor="let rait of [].constructor(5)"
                class="star"
                src="tuiIconStar"
              ></tui-svg>
            </div>
            <div class="stars">
              <div>
                <tui-svg
                  *ngFor="
                    let rait of [].constructor(
                      review.rating == 5
                        ? 5
                        : rest.rating >= 4
                        ? 4
                        : rest.rating >= 3
                        ? 3
                        : rest.rating >= 2
                        ? 2
                        : rest.rating >= 1
                        ? 1
                        : 0
                    )
                  "
                  class="star"
                  src="tuiIconStarFilled"
                ></tui-svg>
              </div>
              <div
                class="box"
                [style.width]="(review.rating - +review.rating.toFixed()) * 22 + 'px'"
              >
                <tui-svg class="star star1" src="tuiIconStarFilled"></tui-svg>
              </div>
            </div>
          </div>
          <p>{{ review.content }}</p>
        </div>
        <tui-svg
          class="icon-faq"
          src="tuiIconTrash"
          (click)="deleteReview(review.id)"
        ></tui-svg>
      </div>
    </div>
  </div>
</div>
