<div class="tui-container">
  <h2 class="title-new-faq">Добавьте ответ на часто задаваемый вопрос</h2>

  <form [formGroup]="faqForm" (ngSubmit)="saveFaq()">
    <div class="faq-form-block">
      <tui-input
        formControlName="title"
        class="faq-form-item"
        required
        id="title"
      >
        Заголовок
        <input tuiTextfield type="text" />
      </tui-input>
      <div
        class="error-message"
        *ngIf="
          faqForm.get('title')?.invalid &&
          (faqForm.get('title')?.dirty ||
            faqForm.get('title')?.touched ||
            errors)
        "
      >
        <span>Обязательное поле</span>
      </div>

      <tui-select
        class="faq-form-item"
        tuiTextfieldSize="l"
        formControlName="category"
        *ngIf="categories$ | async as categories"
        [valueContent]="categoryContent"
      >
        Категория

        <tui-data-list-wrapper
          *tuiDataList
          [items]="categories"
          [itemContent]="categoryContent"
        ></tui-data-list-wrapper>
      </tui-select>

      <ng-template #categoryContent let-item>
        <div class="category-item">
          {{ item.name }}
        </div>
      </ng-template>
      <div
        class="error-message"
        *ngIf="
          faqForm.get('category')?.invalid &&
          (faqForm.get('category')?.dirty ||
            faqForm.get('category')?.touched ||
            errors)
        "
      >
        <span>Обязательное поле</span>
      </div>
      <button
        tuiButton
        size="xs"
        appearance="custom"
        class="new-category-button"
        routerLink="/new-category"
      >
        Добавить новую категорию...
      </button>

      <tui-text-area formControlName="description" class="faq-form-item">
        Ответ
      </tui-text-area>
      <div
        class="error-message"
        *ngIf="
          faqForm.get('description')?.invalid &&
          (faqForm.get('description')?.dirty ||
            faqForm.get('description')?.touched ||
            errors)
        "
      >
        <span>Обязательное поле</span>
      </div>
      <div class="faq-form-buttons">
        <button tuiButton size="m" appearance="accent" class="save-faq-button" [showLoader]="loading">
          Сохранить</button
        ><button
          tuiButton
          size="m"
          appearance="custom"
          class="save-faq-button"
          routerLink="/faq-list"
        >
          Все ответы
        </button>
      </div>
    </div>
  </form>
</div>
