<div class="tui-container">
  <div class="back-and-title">
    <tui-svg
      src="tuiIconBackCircleLarge"
      class="back"
      routerLink="/faq"
    ></tui-svg>
    <h2 class="title-new-faq">Новый ответ</h2>
  </div>

  <form [formGroup]="faqForm" (ngSubmit)="saveFaq()" class="faq-form">
    <div class="faq-form-block">
      <tui-input
        formControlName="title"
        class="faq-form-item"
        required
        id="title"
      >
        Заголовок
        <input tuiTextfield type="text" />
      </tui-input>
      <div
        class="error-message"
        *ngIf="
          faqForm.get('title')?.invalid &&
          (faqForm.get('title')?.dirty ||
            faqForm.get('title')?.touched ||
            errors)
        "
      >
        <span>Обязательное поле</span>
      </div>

      <tui-select
        class="faq-form-item"
        tuiTextfieldSize="l"
        formControlName="category"
        *ngIf="categories$ | async as categories"
        [valueContent]="categoryContent"
      >
        Категория

        <tui-data-list-wrapper
          *tuiDataList
          [items]="categories"
          [itemContent]="categoryContent"
        ></tui-data-list-wrapper>
      </tui-select>

      <ng-template #categoryContent let-item>
        <div class="category-item">
          {{ item.name }}
        </div>
      </ng-template>
      <div
        class="error-message"
        *ngIf="
          faqForm.get('category')?.invalid &&
          (faqForm.get('category')?.dirty ||
            faqForm.get('category')?.touched ||
            errors)
        "
      >
        <span>Обязательное поле</span>
      </div>
      <button
        tuiButton
        size="xs"
        appearance="custom"
        class="new-category-button"
        routerLink="/faq/new-category"
      >
        Добавить новую категорию...
      </button>

      <tui-text-area formControlName="description" class="faq-form-item">
        Ответ
      </tui-text-area>
      <div
        class="error-message"
        *ngIf="
          faqForm.get('description')?.invalid &&
          (faqForm.get('description')?.dirty ||
            faqForm.get('description')?.touched ||
            errors)
        "
      >
        <span>Обязательное поле</span>
      </div>

      <button
        tuiButton
        size="m"
        appearance="accent"
        class="save-faq-button"
        [showLoader]="loading"
      >
        Сохранить
      </button>
    </div>
  </form>
</div>
