<div class="tui-container">
  <h1 class="tui-form__header">Авторизация</h1>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <tui-input formControlName="email">
      Введите email
      <input tuiTextfield type="email" />
    </tui-input>
    <div
      class="error-message"
      *ngIf="
        loginForm.get('email')?.invalid &&
        (loginForm.get('email')?.dirty ||
          loginForm.get('email')?.touched ||
          errors)
      "
    >
      <span *ngIf="loginForm.get('email')?.errors?.['required']"
        >Обязательное поле</span
      >
      <span *ngIf="loginForm.get('email')?.errors?.['email']"
        >Невалидное значение почты</span
      >
    </div>
    <button
      tuiButton
      appearance="accent"
      class="login-button"
      [showLoader]="loading"
    >
      Далее
    </button>
  </form>
</div>
