<div class="menu-block">
  <div class="tui-container">
    <ul class="menu">
      <li class="menu-item">
        <button size="xs" tuiButton routerLink="users" appearance="custom">
          Сотрудники
        </button>
      </li>
      <li class="menu-item">
        <button size="xs" tuiButton routerLink="faq" appearance="custom">
          FAQ
        </button>
      </li>
      <li class="menu-item">
        <button size="xs" tuiButton routerLink="products" appearance="custom">
          Продукты
        </button>
      </li>
      <li class="menu-item">
        <button size="xs" tuiButton routerLink="urestorans" appearance="custom">
          Рестораны
        </button>
      </li>
    </ul>
  </div>
</div>
