<div class="menu-block">
  <div class="tui-container">
    <ul class="menu">
      <li class="menu-item">
        <button
          size="xs"
          tuiButton
          routerLink="users"
          appearance="custom"
          class="menu-item-button"
        >
          Сотрудники
        </button>
      </li>
      <li class="menu-item">
        <button
          size="xs"
          tuiButton
          routerLink="faq"
          appearance="custom"
          class="menu-item-button"
        >
          FAQ
        </button>
      </li>
      <li class="menu-item">
        <button
          size="xs"
          tuiButton
          routerLink="products"
          appearance="custom"
          class="menu-item-button"
        >
          Продукты
        </button>
      </li>
      <li class="menu-item">
        <button
          size="xs"
          tuiButton
          routerLink="urestorans"
          appearance="custom"
          class="menu-item-button"
        >
          Рестораны
        </button>
      </li>
    </ul>
  </div>
</div>
