.tui-container {
  background-color: #fff;
  margin: 35px 0;
  border-radius: var(--tui-radius-l);
  box-shadow: 0 0.125rem 0.1875rem rgb(0 0 0 / 10%);
  padding: 20px;
  width: 500px;
}
.save-category-button,
.back-category-button,
.category-form-item,
.category-form {
  margin-top: 20px;
  display: block;
}
.title-new-category {
  margin: 10px 0 34px 0;
}

.category-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 70px;
  grid-gap: 20px;
}
