<div *ngIf="user$ | async as user" class="tui-container">
  <tui-svg src="tuiIconBackCircleLarge" class="back" (click)="backClicked()">
  </tui-svg>
  <tui-loader *ngIf="loading" class="loader"> </tui-loader>

  <div class="user-info-block" *ngIf="!loading">
    <div class="avatar-and-buttons-block">
      <tui-avatar
        new
        class="icon-user-avatar"
        [rounded]="false"
        text="avatar"
        size="xxl"
        [avatarUrl]="user.pictureUrl || 'tuiIconUser' "
      ></tui-avatar>

      <ul class="user-buttons">
        <li>
          <button
            class="user-edit-button"
            tuiButton
            size="m"
            appearance="second"
            routerLink="/users/edit-user/{{ user.id }}"
          >
            Изменить
          </button>
        </li>
        <li>
          <button
            tuiButton
            class="user-delete-button"
            type="button"
            size="m"
            appearance="accent"
            (click)="deleteUser(user)"
          >
            Удалить
          </button>
        </li>
      </ul>
    </div>

    <div class="user-info">
      <h2 class="info-name">{{ user.username }}</h2>
      <div class="div-info-for-grig">
        <div class="user-info-item-block" *ngIf="tuiday$ | async as birthDate">
          <p class="info-label">дата рождения</p>
          <p class="info-item">{{ birthDate }}</p>
        </div>
        <div class="user-info-item-block">
          <p class="info-label">почта</p>
          <p class="info-item">{{ user.email }}</p>
        </div>
        <div class="user-info-item-block" *ngIf="user.project">
          <p class="info-label">проект</p>
          <p class="info-item">{{ user.project }}</p>
        </div>
        <div class="user-info-item-block" *ngIf="user.post">
          <p class="info-label">должность</p>
          <p class="info-item">{{ user.post }}</p>
        </div>
        <div class="user-info-item-block">
          <p class="info-label">роль</p>
          <p class="info-item">{{ user.admin ? "Админ" : "Сотрудник" }}</p>
        </div>
      </div>
      <div class="user-info-item-block" *ngIf="user.about">
        <p class="info-label">информация</p>
        <p class="info-item">{{ user.about }}</p>
      </div>
    </div>
  </div>
</div>
