<div class="tui-container">
  <form
    [formGroup]="faqForm"
    (ngSubmit)="searchFaq()"
    class="search-and-new-faq-block"
  >
    <div class="search-faq-block">
      <tui-input
        [tuiTextfieldCleaner]="true"
        class="search-faq"
        [(ngModel)]="search"
        formControlName="name"
      >
        Поиск
      </tui-input>
    </div>
    <div class="search-faq-button">
      <button
        tuiIconButton
        type="submit"
        icon="tuiIconSearch"
        appearance="accent"
        class="search-faq-button"
      ></button>
    </div>
  </form>

  <div class="category-block">
    <div class="categories-list">
      <tui-accordion [closeOthers]="false">
        >
        <tui-accordion-item
          *ngFor="let category of categories$ | async"
          class="category-item"
        >
          {{ category.name }}

          <ng-template tuiAccordionItemContent
            ><!-- *ngIf="category.questions.length != 0"  -->
            <div
              class="question-block"
              *ngFor="let question of category.questions"
            >
              <div class="question">
                <h4 class="question-title">{{ question.title }}</h4>
                <p>{{ question.description }}</p>
              </div>
              <div class="icons-faq">
                <tui-svg
                  class="icon-faq"
                  src="tuiIconEdit"
                  (click)="
                    editFaq(
                      question.id,
                      question.title,
                      question.description,
                      category.id
                    )
                  "
                ></tui-svg>

                <tui-svg
                  class="icon-faq"
                  src="tuiIconTrash"
                  (click)="deleteFaq(question.id, category.id)"
                ></tui-svg>
              </div>
            </div>
          </ng-template>
        </tui-accordion-item>
      </tui-accordion>
    </div>

    <div class="filtred-faq-block">
      <div
        class="filtred-faq-item"
        *ngFor="let question of filtredFaq$ | async"
      >
        <div class="question">
          <h4 class="question-title">{{ question.title }}</h4>
          <p>{{ question.description }}</p>
        </div>
        <div class="icons-faq">
          <tui-svg
            class="icon-faq"
            src="tuiIconEdit"
            (click)="
              editFaq(
                question.id,
                question.title,
                question.description,
                question.categoryId
              )
            "
          ></tui-svg>

          <tui-svg
            class="icon-faq"
            src="tuiIconTrash"
            (click)="deleteFaq(question.id, question.categoryId)"
          ></tui-svg>
        </div>
      </div>
      <div class="new-faq-block">
        <button
          tuiButton
          type="button"
          appearance="accent"
          class="new-faq-button"
          [routerLink]="['/faq']"
          size="m"
        >
          Создать новый вопрос
        </button>
      </div>
    </div>
  </div>
</div>
