
.search {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.category-block {
  margin-top: 15px;
  background-color: #fff;
  border-radius: var(--tui-radius-l);
  box-shadow: 0 0.125rem 0.1875rem rgb(0 0 0 / 10%);
  padding: 20px;
}

.question-block {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 400px auto;
}
.question-title {
  color: #ff7043;
}
.icons-faq {
  padding: 0 5px;
  text-align: right;
}
.icon-faq {
  color: #ff7043;
  padding: 0 5px;
  cursor: pointer;
}
.icon-faq:hover {
  color: #000;
}
.filtred-faq-item{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 30px;
  margin-bottom: 20px;
}
