<div class="tui-container">
  <form
    [formGroup]="faqForm"
    (ngSubmit)="searchFaq()"
    class="search-and-new-faq-block"
  >
    <tui-input
      [tuiTextfieldCleaner]="true"
      class="search-faq"
      formControlName="name"
    >
      Поиск
    </tui-input>

    <button
      tuiIconButton
      type="submit"
      icon="tuiIconSearch"
      appearance="white"
      class="search-faq-button"
    ></button>

    <button
      tuiButton
      type="button"
      appearance="accent"
      class="new-faq-button"
      [routerLink]="['/faq/faq-new']"
      size="l"
    >
      new
    </button>
  </form>

  <div class="category-block" *tuiLet="categories$ | async as categories">
    <tui-loader *ngIf="categories == null" class="loader"> </tui-loader>
    <div class="categories-list">
      <tui-accordion [closeOthers]="false">
        >
        <tui-accordion-item
          *ngFor="let category of categories$ | async"
          class="category-item"
        >
          {{ category.name }}

          <ng-template tuiAccordionItemContent>
            <div
              class="question-block"
              *ngFor="let question of category.questions"
            >
              <div class="question">
                <h4 class="question-title">{{ question.title }}</h4>
                <p>{{ question.description }}</p>
              </div>
              <div class="icons-faq">
                <tui-svg
                  class="icon-faq"
                  src="tuiIconEdit"
                  (click)="editFaq(question.id)"
                ></tui-svg>

                <tui-svg
                  class="icon-faq"
                  src="tuiIconTrash"
                  (click)="deleteFaq(question.id, category.id)"
                ></tui-svg>
              </div>
            </div>
          </ng-template>
        </tui-accordion-item>
      </tui-accordion>
    </div>

    <div class="filtred-faq-block">
      <div
        class="filtred-faq-item"
        *ngFor="let question of filtredFaq$ | async"
      >
        <div class="question">
          <h4 class="question-title">{{ question.title }}</h4>
          <p>{{ question.description }}</p>
        </div>
        <div class="icons-faq">
          <tui-svg
            class="icon-faq"
            src="tuiIconEdit"
            (click)="
              editFaq(
                question.id
              )
            "
          ></tui-svg>

          <tui-svg
            class="icon-faq"
            src="tuiIconTrash"
            (click)="deleteFaq(question.id, question.categoryId)"
          ></tui-svg>
        </div>
      </div>
    </div>
  </div>
</div>
