<div class="tui-container">
  <div class="search-and-new-faq-block">
    <div class="search-faq-block">
      <tui-input
        tuiTextfieldIconLeft="tuiIconSearchLarge"
        class="search-faq"
        [(ngModel)]="search"
      >
        Поиск
      </tui-input>
    </div>
    <div class="new-faq-block">
      <button
        tuiButton
        type="button"
        appearance="accent"
        class="new-faq-button"
        [routerLink]="['/faq']"
      >
        Создать
      </button>
    </div>
  </div>
  <div class="category-block">
    <tui-accordion
      [closeOthers]="false"
      *ngFor="let category of categories$ | async"
    >
      <tui-accordion-item
        *ngIf="category.questions.length != 0"
        class="category-item"
      >
        {{ category.name }}

        <ng-template tuiAccordionItemContent>
          <div
            class="question-block"
            *ngFor="let question of category.questions"
          >
            <div class="question">
              <h4>{{ question.title }}</h4>
              <p>{{ question.description }}</p>
            </div>
            <div class="icons-faq">
              <tui-svg
                class="icon-faq"
                src="tuiIconEdit"
                (click)="
                  editFaq(
                    question.id,
                    question.title,
                    question.description,
                    category.id
                  )
                "
              ></tui-svg>

              <tui-svg
                class="icon-faq"
                src="tuiIconTrash"
                (click)="deleteFaq(question.id, category.id)"
              ></tui-svg>
            </div>
          </div>
        </ng-template>
        <ng-template tuiAccordionItemContent> </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
</div>
