.tui-container {
  margin: 35px 0;
  width: 600px;
}
.search-and-new-faq-block {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 600px;
  grid-gap: 10px;
}

.category-block {
  margin-top: 15px;
  background-color: #fff;
  border-radius: var(--tui-radius-l);
  box-shadow: 0 0.125rem 0.1875rem rgb(0 0 0 / 10%);
  padding: 20px;
}

.question-block {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 400px auto;
}
.question-title {
  color: #ff7043;
}
.icons-faq {
  padding: 0 5px;
  text-align: center;
}
.icon-faq {
  padding: 0 5px;
  cursor: pointer;
}
.icon-faq {
  color: #ff7043;
}
.icon-faq:hover {
  color: #000;
}
.new-faq-button {
  margin-top: 10px;
  align-items: center;
}
