.tui-container {
  margin: 35px 0;
  width: 500px;
}
.search-and-new-faq-block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 500px;
  grid-gap: 10px;
}
.category-block {
  margin-top: 15px;
  background-color: #fff;
  border-radius: var(--tui-radius-l);
  box-shadow: 0 0.125rem 0.1875rem rgb(0 0 0 / 10%);
  padding: 20px;
}
.new-faq-button {
  width: 100%;
  font: var(--tui-font-text-m);
}
.question-block {
  margin-bottom: 15px;
}
