<div class="tui-container">
  <div class="content" *ngIf="event$ | async as event">
    <div class="title-block">
      <div class="back-and-title">
        <tui-svg
          src="tuiIconBackCircleLarge"
          class="back"
          routerLink="/events"
        ></tui-svg>
      </div>
      <div class="icons-faq">
        <tui-svg
          class="icon-faq"
          src="tuiIconEdit"
          [routerLink]="['/events/event/edit/' + event.id]"
        ></tui-svg>

        <tui-svg
          class="icon-faq"
          src="tuiIconTrash"
          (click)="deleteEvent()"
        ></tui-svg>
      </div>
    </div>
    <div class="event">
      <div class="event-grid">
        <img
          class="event__img"
          [src]="
            event.pictureUrl
              ? event.pictureUrl
              : 'https://cdn1.ozone.ru/s3/multimedia-d/6494370445.jpg'
          "
        />
        <div class="info">
          <h2 class="title">{{ event.name }}</h2>
          <tui-badge
            status="primary"
            [value]="
              event.format == 'OFFLINE'
                ? 'Офлайн'
                : event.format == 'ONLINE'
                ? 'Онлайн'
                : 'Онлайн и офлайн'
            "
          ></tui-badge>
          <div *ngIf="event.address" class="event__p">
            <p class="info-label">Адрес</p>
            <p class="event__p" style="margin-bottom: 2px">
              {{ event.address }}
            </p>
            <a tuiLink (click)="showMap()"> Показать на карте </a>
          </div>
          <div *ngIf="event.date">
            <p class="info-label">Дата проведения</p>
            <span class="event__p">
              {{ event.date | date : "dd.mm.yyyy" }}
            </span>
            <span class="event__p">
              {{ event.date | date : "h:mm" }}
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="event.description">
        <p class="info-label descr">Описание</p>
        <p class="event__p">
          {{ event.description }}
        </p>
      </div>

      <div class="materials" *ngIf="event.materials?.length! > 0">
        <p class="info-label">Ссылки</p>
        <div class="material" *ngFor="let mat of event.materials">
          <a class="event__p" [href]="mat.url" tuiLink>{{ mat.description }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template
  *ngIf="event$ | async as event"
  let-observer
  [tuiDialogOptions]="{ size: 'l' }"
  [(tuiDialog)]="openMap"
>
  <google-map
    class="google-map"
    #map="googleMap"
    width="750px"
    *ngIf="event.lat && event.lng"
    [center]="{
      lat: event.lat,
      lng: event.lng
    }"
  >
    <map-marker [position]="{ lat: event.lat, lng: event.lng }"> </map-marker>
  </google-map>
</ng-template>
