<div class="tui-container">
  <form
    [formGroup]="usersForm"
    (ngSubmit)="searchUsers()"
    class="search-and-new-user-block"
  >
    <div class="search-faq-block">
      <tui-input
        [tuiTextfieldCleaner]="true"
        class="search-faq"
        formControlName="name"
      >
        Поиск
      </tui-input>
    </div>

    <button
      tuiIconButton
      type="submit"
      icon="tuiIconSearch"
      appearance="white"
      size="l"
      class="search-user-button"
    ></button>

    <button
      tuiButton
      type="button"
      appearance="accent"
      class="new-user-button"
      size="l"
      [routerLink]="['/new-user']"
    >
      new
    </button>
  </form>

  <div class="staff-list-block" *tuiLet="users$ | async as users">
    <ul class="staff-list">
      <tui-loader *ngIf="users == null" class="loader"> </tui-loader>
      <li *ngFor="let user of users$ | async" class="staff-list-item">
        <button
          tuiButton
          appearance="custom"
          class="staff-list-button"
          [routerLink]="['/user/', user.id]"
        >
          <tui-avatar
            class="icon-user-avatar"
            [rounded]="true"
            text="avatar"
            size="l"
            avatarUrl="tuiIconUser"
          ></tui-avatar>

          <section>
            <p class="staff-user-name">{{ user.username }}</p>
            <p class="staff-user-post">{{ user.post }}</p>
          </section>
        </button>
      </li>
    </ul>
    <tui-pagination
      [length]="3"
      [index]="index"
      class="pagination"
      (indexChange)="goToPage($event)"
    ></tui-pagination>
  </div>
</div>
