
.search {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.staff-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.staff-list-button {
  text-align: left;
  margin: 20px 0;
}
.icon-user-avatar {
  --tui-avatar-color: #ff7043;
  --tui-avatar-background: #f2f2f2;
}

.staff-user-name,
.staff-user-post {
  margin-left: 15px;
  text-align: left;
}

.staff-user-name {
  font: var(--tui-font-text-m);
  font-weight: bold;
}
.staff-user-post {
  color: #a6a2a2;
}
.pagination {
  color: #ff7043;
  display: inline;
  width: 100%;
}
