<div class="tui-container">
  <h2 class="title-product">Заказанные продукты</h2>
  <div class="products" *tuiLet="products$ | async as products">
    <tui-loader *ngIf="products == null" class="loader"> </tui-loader>
    <div class="product" *ngFor="let product of products">
      <div class="info">
        <div class="name-and-code">
          <h3>{{ product.name }}</h3>
          <p>{{ product.code }} </p>
        </div>
        <p class="code">{{ product.quantity }} шт</p>
      </div>
      <tui-svg
        class="icon"
        src="tuiIconMinus"
        onclick="deleteProduct(product.id)"
      ></tui-svg>
    </div>
    <!-- <tui-input-files
    link="Выберите фото профиля"
    label=" "
    class="user-form-item"
    *ngIf="!control.value"
    accept="application/pdf"
    [formControl]="control"
    
  ></tui-input-files> -->
    <div class="buttons">
      <button
        tuiButton
        type="button"
        appearance="accent"
        class="new-product-button"
        size="m"
        [showLoader]="download"
        (click)="submitProducts()"
      >
        Выгрузить в файл
      </button>
      <button
        tuiButton
        type="button"
        appearance="second"
        class="new-product-button"
        routerLink="/products"
       
        size="m"
      >
        Управление продуктами
      </button>
      <a download="Ordered Products.xls" id="link" ></a>
    </div>
  </div>
</div>
