body,
html,
button,
a {
  background-color: #f2f2f2;
  color: #292929;
}
[data-appearance="custom"] {
  font: var(--tui-font-text-l);
  font-weight: 100;
  color: #292929;
  font-size: 16px;
  font-style: normal;
  padding: var(--tui-padding-l);
}
[data-appearance="custom"] :hover {
  color: #ff6d2f;
}
