body,
html,
button {
  background-color: #f2f2f2;
  color: #292929;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  max-width: 100%;
}
/* здесь попытки изменить элементы тайги */
[data-appearance="custom"] {
  font-weight: 100;
  font-style: normal;
  padding: var(--tui-padding-l);
}
[data-appearance="menu"] {
  font-weight: 100;
  display: flex;
  font-style: normal;
  text-align: left;
  padding: 2px 2px;
  justify-content: start;
  padding: var(--tui-padding-l);
}
[data-appearance="menu"] :hover {
  background-color: #f5f5f5;
  transition: var(--tui-focus);
  color: #1b1f3b;
}
[data-appearance="second"] {
  padding: var(--tui-padding-s);
  background-color: #f2f2f2;
}
[data-appearance="white"] {
  color: #ff7043;
  height: 54px;
  background-color: #fff;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  box-shadow: 0 0.05rem 0.12rem rgb(0 0 0 / 10%);
}
[data-appearance="second"] :hover {
  background-color: #e8e8e8;
  transition: var(--tui-focus);
}
[data-appearance="custom"] :hover {
  color: #ff7043;
}
[tuiWrapper][data-appearance="textfield"]._focused._focused {
  box-shadow: none;
  --tui-focus: #ff7043;
}
[tuiWrapper][data-appearance="textfield"] {
  box-shadow: 0 0.05rem 0.05rem rgb(0 0 0 / 10%);
}

/* оно не работает (((( */
[data-appearance="menu"] .accent :hover {
  color: #000;
  background-color: #ff7043;
}
.error-message {
  padding-left: 5px;
  color: #ff7043;
}
tui-pagination [tuiWrapper][data-appearance="primary"] {
  background-color: #ff7043;
}
tui-pagination [tuiWrapper][data-appearance="flat"] {
  color: #ff7043;
}
.loader {
  padding: 100px 0;
}
.loader-without-back {
  width: 700px;
  padding: 100px 0;
}

.search-and-new-block {
  display: grid;
  grid-template-columns: 70% auto auto;
  width: 100%;
  align-items: flex-start;
}
.content {
  background-color: #fff;
  border-radius: var(--tui-radius-l);
  box-shadow: 0 0.125rem 0.1875rem rgb(0 0 0 / 10%);
  margin: 15px 0;
  padding: 36px;
  padding-top: 5px;
  box-sizing: border-box;
  width: 100%;
}
