body,
html,
button,
a {
  background-color: #f2f2f2;
  color: #292929;
}
p {
  margin: 0;
  padding: 0;
}
[data-appearance="custom"] {
  font-weight: 100;
  font-style: normal;
  padding: var(--tui-padding-l);
}
[data-appearance="custom"] :hover {
  color: #ff6d2f;
}
[tuiWrapper][data-appearance="textfield"]._focused._focused {
  box-shadow: none;
  --tui-focus: #ff6d2f;
}
