<form [formGroup]="userForm" (ngSubmit)="saveUser()">
  <div class="user-form-block">
    <div class="user-form-col1">
      <tui-input formControlName="name" class="user-form-item">
        имя
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-input formControlName="email" class="user-form-item">
        почта
        <input tuiTextfield type="email" />
      </tui-input>
      <tui-input formControlName="date" class="user-form-item">
        дата рождения
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-input formControlName="project" class="user-form-item">
        поект
        <input tuiTextfield type="text" class="user-form-item" />
      </tui-input>
    </div>
    <div class="user-form-col2">
      <tui-input formControlName="post" class="user-form-item">
        должность
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-input formControlName="information" class="user-form-item">
        информация
        <input tuiTextfield type="text" />
      </tui-input>

      <div class="user-form-item">
        <label tuiLabel="Admin">
          <tui-toggle
            formControlName="admin"
            size="l"
            data-appearance="accent"
          ></tui-toggle>
        </label>
      </div>
      <button tuiButton size="m" appearance="accent" class="save-user-button">
        Сохранить
      </button>
    </div>
  </div>
</form>
