.user-form-block {
  margin: 40px 20px 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.user-form-item {
  margin-top: 15px;
}
.save-user-button {
  margin-top: 23px;
}
