<div class="tui-container">
  <div class="back-and-title">
    <tui-svg
      src="tuiIconBackCircleLarge"
      class="back"
      routerLink="/faq"
    ></tui-svg>
    <h2 class="title-edit-faq">Редактирование вопроса</h2>
  </div>

  <form [formGroup]="faqForm" (ngSubmit)="saveFaq()" class="faq-form">
    <div class="faq-form-block">
      <tui-input
        formControlName="title"
        class="faq-form-item"
        required
        id="title"
      >
        Заголовок
        <input tuiTextfield type="text" />
      </tui-input>
      <div
        class="error-message"
        *ngIf="
          faqForm.get('title')?.invalid &&
          (faqForm.get('title')?.dirty ||
            faqForm.get('title')?.touched ||
            errors)
        "
      >
        <span>Обязательное поле</span>
      </div>

      <tui-text-area formControlName="description" class="faq-form-item">
        Ответ
      </tui-text-area>
      <div
        class="error-message"
        *ngIf="
          faqForm.get('description')?.invalid &&
          (faqForm.get('description')?.dirty ||
            faqForm.get('description')?.touched ||
            errors)
        "
      >
        <span>Обязательное поле</span>
      </div>

      <button
        tuiButton
        type="submit"
        size="m"
        [showLoader]="loading"
        appearance="accent"
        class="save-faq-button"
      >
        Сохранить
      </button>
    </div>
  </form>
</div>
