<div class="tui-container">
  <form
    [formGroup]="restForm"
    (ngSubmit)="search()"
    class="search-and-new-block"
  >
    <div class="search-block">
      <tui-input
        [tuiTextfieldCleaner]="true"
        class="search"
        formControlName="name"
      >
        Поиск
      </tui-input>
    </div>

    <button
      tuiIconButton
      type="submit"
      icon="tuiIconSearch"
      appearance="white"
      size="l"
      class="search-user-button"
    ></button>

    <button
      tuiButton
      type="button"
      appearance="accent"
      class="new-button"
      size="l"
      routerLink="/restaurants/create-restaurant"
    >
      new
    </button>
  </form>
  <div class="content">
    <div class="city" *ngIf="currentCity$ | async as city">
      <h2>Заведения в городе {{ city.name }}</h2>
      <button
        tuiButton
        type="button"
        class="city_btn"
        size="xs"
        appearance="flat"
        (click)="showDialog()"
      >
        выбрать город
      </button>
      <!-- <tui-svg src="tuiIconChevronDown"></tui-svg> -->
    </div>
    <button
      tuiButton
      type="button"
      class="map-btn"
      size="xs"
      appearance="flat"
      (click)="showDialog()"
    >
      Показать на карте
    </button>
    <div *ngIf="filtredRestaurants$ == null">
      <div class="list" *ngIf="builds$ | async as builds">
        <div class="" *ngFor="let build of builds">
          <div
            class="list__restaurant"
            *ngFor="let rest of build.restaurants"
            [routerLink]="['/restaurants/', rest.id]"
          >
            <div class="info">
              <div class="">
                <h3>{{ rest.name }}</h3>
              </div>

              <div class="raiting">
                <div class="star-after">
                  <tui-svg
                    *ngFor="let rait of [].constructor(5)"
                    class="star"
                    src="tuiIconStar"
                  ></tui-svg>
                </div>
                <div class="stars">
                  <div>
                    <tui-svg
                      *ngFor="
                        let rait of [].constructor(
                          rest.rating > 4
                            ? 4
                            : rest.rating > 3
                            ? 3
                            : rest.rating > 2
                            ? 2
                            : rest.rating > 1
                            ? 1
                            : 0
                        )
                      "
                      class="star"
                      src="tuiIconStarFilled"
                    ></tui-svg>
                  </div>
                  <div
                    class="box"
                    [style.width]="
                      (rest.rating - +rest.rating.toFixed()) * 32 + 'px'
                    "
                  >
                    <tui-svg
                      class="star star1"
                      src="tuiIconStarFilled"
                    ></tui-svg>
                  </div>
                </div>

                <div class="rating_number">
                  <!-- <p>{{ rest.rating }}</p> -->
                </div>
              </div>
              <span class="">{{ rest.status }}</span>
              <div class="address">
                <!-- <span class="label">адрес: </span> -->
                {{ rest.address }}
              </div>
              <!-- <p class="label">средний чек:</p> -->
              {{ rest.average }}
            </div>
            <!-- <div class="icons">
          <tui-svg class="icon" src="tuiIconEdit"></tui-svg>

          <tui-svg class="icon" src="tuiIconTrash"></tui-svg>
        </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="filtred" *ngIf="filtredRestaurants$ | async as rests">
      <div *ngFor="let rest of rests">
        <div
          class="list__restaurant"
          [routerLink]="['/restaurants/', rest.id]"
        >
          <div class="info">
            <div class="">
              <h3>{{ rest.name }}</h3>
            </div>

            <div class="raiting">
              <div class="star-after">
                <tui-svg
                  *ngFor="let rait of [].constructor(5)"
                  class="star"
                  src="tuiIconStar"
                ></tui-svg>
              </div>
              <div class="stars">
                <div>
                  <tui-svg
                    *ngFor="
                      let rait of [].constructor(
                        rest.rating > 4
                          ? 4
                          : rest.rating > 3
                          ? 3
                          : rest.rating > 2
                          ? 2
                          : rest.rating > 1
                          ? 1
                          : 0
                      )
                    "
                    class="star"
                    src="tuiIconStarFilled"
                  ></tui-svg>
                </div>
                <div
                  class="box"
                  [style.width]="
                    (rest.rating - +rest.rating.toFixed()) * 32 + 'px'
                  "
                >
                  <tui-svg class="star star1" src="tuiIconStarFilled"></tui-svg>
                </div>
              </div>

              <div class="rating_number">
                <!-- <p>{{ rest.rating }}</p> -->
              </div>
            </div>
            <span class="">{{ rest.status }}</span>
            <div class="address">
              <!-- <span class="label">адрес: </span> -->
              {{ rest.address }}
            </div>
            <!-- <p class="label">средний чек:</p> -->
            {{ rest.average }}
          </div>
          <!-- <div class="icons">
        <tui-svg class="icon" src="tuiIconEdit"></tui-svg>

        <tui-svg class="icon" src="tuiIconTrash"></tui-svg>
      </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'Выберите город', size: 's' }"
  [(tuiDialog)]="open"
>
  <div class="city" *ngFor="let city of cities$ | async as cities">
    <a tuiLink (click)="changeCity(city)" class="a__city">
      {{ city.name }}
    </a>
    <tui-svg src="tuiIconTrash" (click)="deleteCity(city.id)"> </tui-svg>
  </div>
  <button
    tuiButton
    routerLink="/restaurants/create-city"
    size="m"
    class="create"
  >
    Добавить новый город
  </button>
</ng-template>
<!-- <ng-template
  let-observer2
  [tuiDialogOptions]="{ label: 'Заведения в Томске', size: 's' }"
  [(tuiDialog)]="open"
>
  <agm-map
    style="height: 300px"
    [latitude]="markers[0].lat"
    [longitude]="markers[0].lng"
  >
    <agm-marker-cluster>
      <agm-marker
        *ngFor="let marker of markers"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
      ></agm-marker> </agm-marker-cluster
  ></agm-map>
</ng-template> -->
