<div class="tui-container">
  <form
    [formGroup]="restForm"
    (ngSubmit)="search()"
    class="search-and-new-block"
  >
    <div class="search-block">
      <tui-input
        [tuiTextfieldCleaner]="true"
        class="search"
        formControlName="name"
      >
        Поиск
      </tui-input>
    </div>

    <button
      tuiIconButton
      type="submit"
      icon="tuiIconSearch"
      appearance="white"
      size="l"
      class="search-user-button"
    ></button>

    <button
      tuiButton
      type="button"
      appearance="accent"
      class="new-button"
      size="l"
      routerLink="/restaurants/create-restaurant"
    >
      new
    </button>
  </form>
  <div class="content">
    <div class="city" *ngIf="currentCity$ | async as city">
      <h2>Заведения в городе {{ city.name }}</h2>
      <div class="map-and-cities">
        <a tuiLink class="city_btn" (click)="showDialog()"> Выбрать город </a>
        <a tuiLink class="map-btn city_btn" (click)="showMap()">
          Показать на карте
        </a>
      </div>
    </div>

    <div *ngIf="filtredRestaurants$ == null">
      <div class="list" *ngIf="builds$ | async as builds">
        <div class="" *ngFor="let build of builds">
          <div
            class="list__restaurant"
            *ngFor="let rest of build.restaurants"
            [routerLink]="['/restaurants/', rest.id]"
          >
            <div class="info">
              <div class="left-block">
                <div class="name">
                  <h3>{{ rest.name }}</h3>
                </div>

                <div class="rating">
                  <div class="star-after">
                    <tui-svg
                      *ngFor="let rait of [].constructor(5)"
                      class="star"
                      src="tuiIconStar"
                    ></tui-svg>
                  </div>
                  <div class="stars">
                    <div>
                      <tui-svg
                        *ngFor="
                          let rait of [].constructor(
                            rest.rating == 5
                              ? 5
                              : rest.rating >= 4
                              ? 4
                              : rest.rating >= 3
                              ? 3
                              : rest.rating >= 2
                              ? 2
                              : rest.rating >= 1
                              ? 1
                              : 0
                          )
                        "
                        class="star"
                        src="tuiIconStarFilled"
                      ></tui-svg>
                    </div>
                    <div
                      class="box"
                      [style.width]="
                        (rest.rating - +rest.rating.toFixed()) * 32 + 'px'
                      "
                    >
                      <tui-svg
                        class="star star1"
                        src="tuiIconStarFilled"
                      ></tui-svg>
                    </div>
                  </div>
                  <p class="rating-number">
                    {{ rest.rating.toFixed(1) }}
                  </p>
                </div>
                <span class="label">{{ rest.status }}</span>
                <div class="right-block__check">
                  <span class="label"> </span>
                  <span> cр. чек: {{ rest.average }}₽</span>
                </div>
                <div class="address">
                  {{ rest.address }}
                </div>
              </div>
              <div class="right-block">
                <div class="right-block__rating">
                  <span class="label">{{ rest.reviewCount }} оценок </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- здесь отфильтрованные рестики. Тоже самое, но не упакованы в здания -->
    <div class="filtred" *ngIf="filtredRestaurants$ | async as rests">
      <div *ngFor="let rest of rests">
        <div class="list__restaurant" [routerLink]="['/restaurants/', rest.id]">
          <div class="info">
            <div class="left-block">
              <div class="name">
                <h3>{{ rest.name }}</h3>
              </div>

              <div class="rating">
                <div class="star-after">
                  <tui-svg
                    *ngFor="let rait of [].constructor(5)"
                    class="star"
                    src="tuiIconStar"
                  ></tui-svg>
                </div>
                <div class="stars">
                  <div>
                    <tui-svg
                      *ngFor="
                        let rait of [].constructor(
                          rest.rating == 5
                            ? 5
                            : rest.rating >= 4
                            ? 4
                            : rest.rating >= 3
                            ? 3
                            : rest.rating >= 2
                            ? 2
                            : rest.rating >= 1
                            ? 1
                            : 0
                        )
                      "
                      class="star"
                      src="tuiIconStarFilled"
                    ></tui-svg>
                  </div>
                  <div
                    class="box"
                    [style.width]="
                      (rest.rating - +rest.rating.toFixed()) * 32 + 'px'
                    "
                  >
                    <tui-svg
                      class="star star1"
                      src="tuiIconStarFilled"
                    ></tui-svg>
                  </div>
                </div>
                <p class="rating-number">
                  {{ rest.rating.toFixed(1) }}
                </p>
              </div>
              <span class="label">{{ rest.status }}</span>
              <div class="right-block__check">
                <span class="label"> </span>
                <span> cр. чек: {{ rest.average }}₽</span>
              </div>
              <div class="address">
                {{ rest.address }}
              </div>
            </div>
            <div class="right-block">
              <div class="right-block__rating">
                <span class="label">{{ rest.reviewCount }} оценок </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- выбрать город -->
<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'Выберите город', size: 's' }"
  [(tuiDialog)]="open"
>
  <button
    routerLink="/create-city"
    size="xs"
    tuiButton
    apperance="primary"
    class="create"
  >
    Создать
  </button>
  <div class="city" *ngFor="let city of cities$ | async as cities">
    <a tuiLink (click)="changeCity(city)" class="a__city">
      {{ city.name }}
    </a>
    <a
      tuiLink
      icon="tuiIconTrash"
      (click)="deleteCity(city.id)"
      class="deleteCity"
    >
    </a>
  </div>
</ng-template>

<!-- показать на карте -->
<ng-template
  *ngIf="builds$ | async as builds"
  let-observer
  [tuiDialogOptions]="{ label: 'Заведения в Томске', size: 'l' }"
  [(tuiDialog)]="openMap"
>
  <agm-map
    *ngIf="currentCity$ | async as city"
    style="height: 400px"
    [latitude]="city.lat"
    [longitude]="city.lng"
  >
    <agm-marker-cluster
      *ngFor="let build of builds"
      (clusterClick)="openInfo()"
      [zoomOnClick]="false"
      ><agm-info-window [disableAutoPan]="true" isOpn="true"> rththth</agm-info-window>
      <agm-marker
        *ngFor="let rest of build.restaurants"
        [latitude]="build.lat"
        [longitude]="build.lng"
      >
        <agm-info-window [routerLink]="['/restaurants/', rest.id]">
          <div class="rest-on-map">
            <h3>{{ rest.name }}</h3>
            <p>{{ rest.rating }}</p>
            <p>средний чек: {{ rest.average }}</p>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-marker-cluster></agm-map
  >
</ng-template>
