<div class="tui-container">
  <form
    [formGroup]="restForm"
    (ngSubmit)="search()"
    class="search-and-new-block"
  >
    <div class="search-block">
      <tui-input
        [tuiTextfieldCleaner]="true"
        class="search"
        formControlName="name"
      >
        Поиск
      </tui-input>
    </div>

    <button
      tuiIconButton
      type="submit"
      icon="tuiIconSearch"
      appearance="white"
      size="l"
      class="search-user-button"
    ></button>

    <button
      tuiButton
      type="button"
      appearance="accent"
      class="new-button"
      size="l"
      routerLink="/restaurants/create-restaurant"
    >
      new
    </button>
  </form>
  <div class="content">
    <div class="city" *ngIf="currentCity$ | async as city">
      <h2>Заведения в городе {{ city.name }}</h2>
      <div class="map-and-cities">
        <a tuiLink class="city_btn" (click)="showDialog()"> Выбрать город </a>
        <a tuiLink class="map-btn city_btn" (click)="showMap()">
          Показать на карте
        </a>
      </div>
    </div>

    <div *ngIf="filtredRestaurants$ == null">
      <div class="list" *ngIf="builds$ | async as builds">
        <div class="" *ngFor="let build of builds">
          <div
            class="list__restaurant"
            *ngFor="let rest of build.restaurants"
            [routerLink]="['/restaurants/restaurant', rest.id]"
          >
            <div class="info">
              <div class="left-block">
                <div class="name">
                  <h3>{{ rest.name }}</h3>
                </div>
                <div class="rating-and-reviewCount">
                  <div class="rating">
                    <div class="star-after">
                      <tui-svg
                        *ngFor="let rait of [].constructor(5)"
                        class="star"
                        src="tuiIconStar"
                      ></tui-svg>
                    </div>
                    <div class="stars">
                      <div>
                        <tui-svg
                          *ngFor="
                            let rait of [].constructor(
                              rest.rating == 5
                                ? 5
                                : rest.rating >= 4
                                ? 4
                                : rest.rating >= 3
                                ? 3
                                : rest.rating >= 2
                                ? 2
                                : rest.rating >= 1
                                ? 1
                                : 0
                            )
                          "
                          class="star"
                          src="tuiIconStarFilled"
                        ></tui-svg>
                      </div>
                      <div
                        class="box"
                        [style.width]="(rest.rating - +rest.rating.toFixed())>= 0 ? (rest.rating - +rest.rating.toFixed()) * 16 + 'px' : (1+(rest.rating - +rest.rating.toFixed())) * 16 + 'px'"
                      >
                        <tui-svg
                          class="star star1"
                          src="tuiIconStarFilled"
                        ></tui-svg>
                      </div>
                    </div>
                    <p class="rating-number">
                      {{ rest.rating.toFixed(1) }}
                    </p>
                  </div>
                  <span class="label">{{ rest.reviewCount }} оценок </span>
                </div>
                <span class="label">{{ rest.status }}</span>
                <div class="right-block__check">
                  <span> cр. чек:  {{ rest.average != 0 ? rest.average + "₽" : "не оценено" }}</span>
                </div>
                <div class="address">
                  {{ rest.address }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- здесь отфильтрованные рестики. Тоже самое, но не упакованы в здания -->
    <div class="filtred" *ngIf="filtredRestaurants$ | async as rests">
      <div *ngFor="let rest of rests">
        <div class="list__restaurant" [routerLink]="['/restaurants/restaurant', rest.id]">
          <div class="info">
            <div class="left-block">
              <div class="name">
                <h3>{{ rest.name }}</h3>
              </div>

              <div class="rating-and-reviewCount">
                <div class="rating">
                  <div class="star-after">
                    <tui-svg
                      *ngFor="let rait of [].constructor(5)"
                      class="star"
                      src="tuiIconStar"
                    ></tui-svg>
                  </div>
                  <div class="stars">
                    <div>
                      <tui-svg
                        *ngFor="
                          let rait of [].constructor(
                            rest.rating == 5
                              ? 5
                              : rest.rating >= 4
                              ? 4
                              : rest.rating >= 3
                              ? 3
                              : rest.rating >= 2
                              ? 2
                              : rest.rating >= 1
                              ? 1
                              : 0
                          )
                        "
                        class="star"
                        src="tuiIconStarFilled"
                      ></tui-svg>
                    </div>
                    <div
                      class="box"
                      [style.width]="
                      (rest.rating - +rest.rating.toFixed())> 0 ? (rest.rating - +rest.rating.toFixed()) * 16 + 'px' : (1+(rest.rating - +rest.rating.toFixed())) * 16 + 'px'
                      "
                    >
                      <tui-svg
                        class="star star1"
                        src="tuiIconStarFilled"
                      ></tui-svg>
                    </div>
                  </div>
                  <p class="rating-number">
                    {{ rest.rating.toFixed(1) }}
                  </p>
                </div>
                <span class="label">{{ rest.reviewCount }} оценок </span>
              </div>
              <span class="label">{{ rest.status }}</span>
              <div class="right-block__check">
                <span class="label"> </span>
                <span> cр. чек: {{ rest.average }}₽</span>
              </div>
              <div class="address">
                {{ rest.address }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- выбрать город -->
<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'Выберите город', size: 's' }"
  [(tuiDialog)]="open"
>
  <button
    routerLink="/create-city"
    size="xs"
    tuiButton
    apperance="primary"
    class="create"
  >
    Создать
  </button>
  <div class="city" *ngFor="let city of cities$ | async as cities">
    <a tuiLink (click)="changeCity(city)" class="a__city">
      {{ city.name }}
    </a>
    <a
      tuiLink
      icon="tuiIconTrash"
      (click)="deleteCity(city.id)"
      class="deleteCity"
    >
    </a>
  </div>
</ng-template>

<!-- показать на карте -->
<ng-template
  *ngIf="builds$ | async as builds"
  let-observer
  [tuiDialogOptions]="{ size: 'l' }"
  [(tuiDialog)]="openMap"
>
  <google-map
    class="google-map"
    #map="googleMap"
    width="750px"
    *ngIf="currentCity$ | async as city"
    [center]="{ lat: builds[0].lat, lng: builds[0].lng }"
  >
    <map-marker-clusterer
      #cluster
      [zoomOnClick]="false"
      [imagePath]="markerClustererImagePath"
      *ngFor="let build of builds"
      (clusterClick)="
        build.restaurants.length > 1 ? openInfo(infoWindowCluster) : click()
      "
    >
      <map-info-window
        class="info-window"
        #infoWindowCluster="mapInfoWindow"
        [options]="{
          position: { lat: build.lat, lng: build.lng },
          maxWidth: 300
        }"
      >
        <div
          [routerLink]="['/restaurants/restaurant', restaurant.id]"
          *ngFor="let restaurant of build.restaurants |  slice:0: 3"
          class="info-window__rest"
        >
          <a tuiLink class="rest-in-cluster">
            <h4>
              {{ restaurant.name }}
            </h4>
          </a>
          <p class="p-rest">
            <span class="info-window__label">рейтинг:</span>
            {{ restaurant.rating.toFixed(1) }}
          </p>
          <p class="p-rest">
            <span class="info-window__label">средний чек: </span>
            {{ restaurant.average }}₽
          </p>
          <p class="p-rest">
            <span class="info-window__label">адрес:</span>
            {{ restaurant.address }}
          </p>
        </div>
        <a tuiLink [routerLink]="['/restaurants', {search: build.address}]" #showAllRests  href (click)="showAllRestaurants(build.address)">Показать все</a>
      </map-info-window>
      <map-marker 
        #marker="mapMarker"
        (mapClick)="openInfoWindow(marker, infoWindow)"
        *ngFor="let rest of build.restaurants"
        [position]="{ lat: build.lat, lng: build.lng }"
      >
        <map-info-window
          class="info-window"
          [options]="{ maxWidth: 300 }"
          #infoWindow="mapInfoWindow"
          [routerLink]="['/restaurants/restaurant', rest.id]"
        >
          <div class="rest-on-map">
           <a tuiLink [routerLink]="['/restaurants/restaurant', rest.id]">  <h3>{{ rest.name }}</h3></a>
            <p class="p-rest">
              <span class="info-window__label">рейтинг:</span>
              {{ rest.rating.toFixed(1) }}
            </p>
            <p class="p-rest">
              <span class="info-window__label">средний чек: </span>
              {{ rest.average }}₽
            </p>
            <p class="p-rest">
              <span class="info-window__label">адрес:</span> {{ rest.address }}
            </p>
          </div>
        </map-info-window>
      </map-marker>
    </map-marker-clusterer>
  </google-map>
</ng-template>
