.content{
  padding-top: 30px;
}
.search {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.title {
  margin-bottom: 15px;
}
.create-button {
  margin-top: 10px;
}
.deleteCity {
  margin-top: 10px;
}
.city {
  display: grid;
  grid-template-columns: auto 1fr;
}
.map-and-cities {
  display: grid;
  grid-template-columns: auto;
}
.a__city {
  display: block;
  margin-top: 10px;
}
.city_btn {
  text-align: right;
}
.map-btn {
  margin-top: 15px;
}

.list__restaurant {
  margin-bottom: 30px;
  cursor: pointer;
}
.info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}
.left-block{
  width: 300px;
}
.name-and-status {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}
.name {
  margin-bottom: 7px;
}
.address {
  color: #292929;
  text-decoration: solid;
}
.label{
  font-style: italic;
}
.icon {
  color: darkgray;
  padding: 0 5px;
  cursor: pointer;
}
.rating-and-reviewCount{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
.rating {
  display: grid;
  grid-template-columns: 4fr auto;
  width: 140px;
}

.rating-number {
  display: block;
  align-self: center;
  font-style: italic;
}
.right-block {
  margin-top: 30px;
}

.stars {
  margin-left: -4px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
}
.star {
  margin-left: -4px;
  color: #ff7043;
}
.star-after {
  margin-left: -4px;
  position: absolute;
}
.box {
  overflow: hidden;
}
.star1 {
  object-fit: cover;
}
.create {
  text-align: right;
  margin-top: 10px;
}
.deleteCity {
  text-align: right;
  cursor: pointer;
}
.google-map{
  margin: 0 auto;
}
.p-rest{
  margin: 5px 0;
}
.rest-in-cluster{
  display: block;
}
.info-window{
  width: 80px;
}
.info-window__rest{
  cursor: pointer;
  margin-bottom: 20px;
}
.info-window__label{
  color: grey;
}
.tui-rating{
  color: var(--tui-accent);
}