.tui-container {
  margin: 35px 0;
  width: 600px;
}
.search-and-new-block {
  display: grid;
  grid-template-columns: 400px auto auto;
  width: 600px;
  align-items: flex-start;
}
.search {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.content {
  background-color: #fff;
  border-radius: var(--tui-radius-l);
  box-shadow: 0 0.125rem 0.1875rem rgb(0 0 0 / 10%);
  margin: 15px 0;
  padding: 36px;
  box-sizing: border-box;
  width: 600px;
}
.title {
  margin-bottom: 20px;
}
agm-map {
  height: 300px;
  margin: 20px 0;
}
.create-button {
  margin-top: 10px;
}
.city {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.a__city {
  display: block;
}
.city_btn {
  text-align: right;
}
.map-btn {
  margin-top: 15px;
}
.list {
  margin: 20px 0;
}

.list__restaurant {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.name-and-status {
  display: grid;
  grid-template-columns: auto 1fr;

  grid-gap: 10px;
}
.address {
  color: #292929;
  text-decoration: solid;
}
.raiting {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
}
.icon {
  color: #ff7043;
  padding: 0 5px;
  cursor: pointer;
}
.label {
  color: darkgray;
  font-style: italic;
}
.stars {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
}
.star {
  color: #ff7043;
}
.star-after {
  position: absolute;
}
.box {
  overflow: hidden;
}
.star1 {
  object-fit: cover;
}
