<div class="tui-container">
  <h1 class="tui-form__header">Log in</h1>
  <form class="b-form" [formGroup]="keyForm" (ngSubmit)="key()">
    <h3 class="tui-form__header">Введите код, отправленный на почту</h3>
    <tui-input formControlName="key">
      Enter a key
      <input tuiTextfield type="text" />
    </tui-input>
    <div class="buttons-key">
      <button tuiButton (click)="back()">Back</button>
      <button tuiButton [disabled]="keyForm.invalid">Log in</button>
    </div>
  </form>
</div>
